/* css styles */
/* inline code only */
:not(pre) > code {
  color: #ffffff !important;
  background-color: #353535 !important;
  border: 0px solid #5a5a5a;
  padding: 0.0em 0em;
  border-radius: 0.25rem;
}

/* leave code blocks alone */
pre code {
  color: inherit;
  background-color: transparent !important;
  border: 0;
  padding: 0;
}